* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.card-product {
    min-height: 360px;
}

.card-img-top {
    height: 14rem;
}

.box-shadow:hover {
    transition: 0.2s ease;
    box-shadow: 1px 2px 3px #b9b9b9;
}