* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.card-product {
    min-height: 360px;
}

.card-img-top {
    height: 14rem;
}