.navbar-nav>.navbar-item>a {
    font-size: 2rem;
}

#logo {
    font-size: 40px;
    margin-right: 1rem;
}


/* search box */

#search-box {
    width: 400px;
}

#productList {
    border: 1px solid #b1154a;
}


/* cart design */

#cart-wp {
    font-weight: 500;
}

#cart {
    border: 1px solid #fff;
    border-radius: 5px;
}