/* STYLE */

@import '../public/css/import/global.css';
@import '../public/css/import/header.css';
@import '../public/css/import/sidebar.css';
@import '../public/css/import/body.css';
@import '../public/css/import/product_add.css';
@import '../public/css/import/product_detail.css';
@import '../public/css/import/footer.css';
@import '../public/css/import/home.css';