/* global */

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #bdc3c7;
}


/* sidebar */

#wp-sidebar {
    height: 100%;
    width: 250px;
}

#sidebar-menu {
    margin-left: 2rem;
}

#wp-sidebar #sidebar-menu ul li ul {
    margin-left: 2rem;
}